<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>LIPGLOW</title>
  <link rel="stylesheet" href="js/keyboard/keyboard.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="stylesheet" href="js/keyboard/keyboard.css" />
</head>

<body>
  <main class="main-contact index">

    <div class="top-image">
      <img src="./img/LIP_GLOW-1.jpg" alt="LIP_GLOW">

      <img src="./img/lipglow_1@2x.png" alt="lipglow" class="inner-img--1">
      <img src="./img/glow2.png" alt="glow2" class="inner-img--2">
      <img src="./img/LOGO_DIOR_Capitales.aiwhite.png" alt="LOGO DIOR Capitales" class="inner-img--3">
      <img src="./img/lipglow_2@2x.png" alt="lipglow_2" class="inner-img--4">
    </div>

    <div class="grid-position">

      <div class="grid-position--top">

        <div class="text to-hide">

          <p>
            The 1st Dior lip balm formulated with 97% natural-origin ingredients* that subtly revives the color of lips
            with 24h** hydration and 6H glow***.
          </p>

          <p>
            A unique formula made with natural-origin ingredients infused with cherry oil, shades to suit all skin tones
            and a new couture case.
          </p>

        </div>

        <button type="button" class="keyboard-close hidden"></button>

        <form action="step_2.html" method="get" class="user-form">

          <div class="two-column">

            <div class="to-hide">
              <p class="hidden">
                First name
              </p>
              <input class="form-input" name="first_name" type="text" placeholder="First name">
            </div>

            <div class="to-hide">
              <p class="hidden">
                Last name
              </p>
              <input class="form-input" name="last_name" type="text" placeholder="Last name">
            </div>

          </div>

          <div class="email-wrap to-hide">
            <p class="hidden">
              Email address
            </p>
            <input type="email" id="email" name="email" class="email-input" placeholder="Email address" />
          </div>

          <div class="btns to-hide">
            <label class="btn disabled" id="formSubmitLabel">
              <input type="submit" id="formSubmit" disabled />
              Continue
            </label>
          </div>
        </form>

        <div class="keyboard"></div>

      </div>

      <div class="grid-position--bottom">

        <p class="bottom-text">
          *Amount calculated based on the ISO 16128-1 and ISO 16128-2 standard. The remaining ingredients help optimize
          the formula's sensory appeal and integrity over time ** Instrumental test carried out on 11 subjects. ***
          Instrumental test on 20 women.
        </p>

      </div>

    </div>

  </main>
  <script src="./libs/jquery/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  <script src="js/keyboard/jquery.keyboard.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>