<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="odore" content="release-probe" nextstep="index.html" />
  <title>LIPGLOW</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact last-page">
    <div class="background"></div>

    <div class="logo">
      <img src="img/diorLogoBar.svg" alt="Logo Dior" />
    </div>

    <div class="grid-position">

      <div class="grid-position--top"></div>

      <div class="grid-position--bottom">

        <h5>
          Thank you
        </h5>

      </div>

    </div>
  </main>

</body>

</html>